<section id="profile" class="p-3">
    <div class="profile-card p-3 col-md-6">
        {{#if user}}
            <h1 class="card-title px-3">Hi, {{user.username}}!</h1>
            {{#if user.firstName}}
            <h3>(or should we call you {{ user.firstName }}?)</h3>
            {{/if}}
            <img src={{ user.profilePic }} alt="User Photo" class="card-img-logo m-3">
            <img src="/styles/images/icon5.png" alt="Birthday Cake Icon" class="card-icon">
            <h3>{{ birthDate }}</h3>
            <img src="/styles/images/icon4.png" alt="Plant Icon" class="card-icon">
            <h3>{{ user.favPlant }}</h3>
            <img src="/styles/images/icon.png" alt="About User Icon" class="card-icon">
            <h3>{{ user.description }}</h3>
            <div class="profile-action-container">
                <div class="profile-action p-3">
                    <a href="/editProfile" class="btn-light p-2">Edit profile</a>
                </div>
                <div class="profile-action p-3">
                    <a href="/deleteProfile" class="btn-light p-2">Delete profile</a>
                </div>
            </div>
        {{else}}
            <p>You still need to log in.</p>
        {{/if}}
    </div>

    <div class="profile-friends p-3 col-md-6">
        {{!-- <h4 class="card-title px-3 mx-2">Your friends!</h4> --}}
        {{#each user.friends}}
        <div class="one-friend p-3 m-2">
            <a class="link" href='/plants/{{_id}}/userProfile' class="card-title px-3">{{username}}</a>
            <img src="{{profilePic}}">
        </div>
        {{/each}}
    </div>

</section>