<section id="profile" class="footer-space p-3">
    <div class="profile-wrapper-2">
        {{#each plants}}
        {{#if @first}}
        <div class="profile-card profile-relative profile-left p-3">
            
            <h1 class="card-title px-3">Welcome to {{author.username}}'s page!</h1>
            {{#if author.firstName}}
            <h3>(You can call them {{ author.firstName }}.)</h3>
            {{/if}}
            <img src={{ author.profilePic }} alt="User Photo" class="card-img-logo m-3">
            <img src="/styles/images/icon5.png" alt="Birthday Cake Icon" class="card-icon">
            <h3>{{ birthDate }}</h3>
            <img src="/styles/images/icon4.png" alt="Plant Icon" class="card-icon">
            <h3>{{ author.favPlant }}</h3>
            <img src="/styles/images/icon.png" alt="About User Icon" class="card-icon">
            <h3>{{ author.description }}</h3>
            <div class="profile-action-container">
                <form action="/addFriend/{{author._id}}" method="POST">
                    <button type="submit" class="btn btn-dark">Add as friend</button>
                </form>
            </div>          

        </div>
        {{/if}}
        {{/each}}
        
        <div class="profile-posts">
            {{#each plants}}
            {{!-- <h4 class="card-title px-3 mx-2">This user's posts!</h4> --}}
            
                <div class="one-friend p-3 m-2">
                    <a class="link" href='/plants/{{_id}}' class="card-title px-3">{{name}}</a>
                    <img src="{{plantImg}}">
                </div>
            
            {{/each}}
        </div>
    </div>
</section>