<section id="plant-details" class="p-2">

  <div class="plants-div main-2 p-3 m-0 col-s-12 col-md-6">
    <div class="plant-card p-2" style="width: 20rem;">
      <img src={{plant.plantImg}} class="card-img-top mb-2" alt="Plant Photo">
      <h5 class="card-title px-3">{{plant.name}}</h5>
      <p class="card-text">{{plant.location}}</p>
      <p class="card-text">{{foundDate}}</p>
      <p class="card-text">{{plant.season}}</p>
      <p class="card-text">{{plant.description}}</p>
      <a href="/plants/{{plant.author._id}}/author" class="card-author">{{plant.author.username}}</a>
    </div>
  </div>

  <div class="comments-div col-s-12 col-md-6">
    <div class="create-comment p-3 ms-3 mb-3">
      <h4>Do you have anything to add?</h4>
      <form action="/plants/{{plant._id}}/comment" class="comment-form" method="POST">
        <label name="title">Title</label>
        <input type="text" name="title" placeholder="Incredible!">
        <br>
        <label name="textField">Text</label>
        <input type="text" name="textField" placeholder="I wish i was there!"><br>
        <div class="btn-container">
          <button type="submit" class="btn btn-dark">Submit Comment</button>
        </div>
      </form>
    </div>
    <div class="comments ms-3">
      {{#each plant.comments}}
      <div class="comment p-2">
      <div class="comment-title">{{title}}</div>
      <div class="comment-text">{{textField}}</div>
      <a href="" class="comment-author">{{theAuthor.username}}</a>
      </div>
      {{/each}}
      </div>
    </div>

  </div>
</section>