<section id="my-posts" class="footer-space">
  <h2 class="pb-1">See all your posts here!</h2>

  {{#if posts }}
  <div class="container-div container-fluid m-2 w-auto row main-2">
    {{#each posts}}
    <div class="plant-card p-2 m-2 col-sm-3 col-6" style="width: 20rem;">
      <img src={{plantImg}} class="card-img-top mb-2" alt="Plant Photo">
      <h5 class="card-title px-3">{{name}}</h5>
      
      <h5 class="card-text">{{location}}</h5>
      <h5 class="card-text">{{foundDate}}</h5>
      <p class="card-text">{{season}}</hp>
      <p class="card-text">{{description}}</p>

      <div class="profile-action-container">
        <div class="profile-action p-3">
          <a href="/editPost/{{_id}}" class="btn btn-light p-2">Edit post</a>
        </div>
        <form method="POST" action="/deletePost/{{_id}}" class="profile-action p-3">
          <button type="submit" class="btn btn-light p-2">Delete post</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div class="no-posts py-4">
    <h3>... after you created some.</h3>
    <h4>Click here to create your first post:</h4>
    <a href='/plants/create' class="btn btn-light mt-2">Let's go!</a>
  </div>
  {{/if}}
</section>



