<section id="explore">

  <div class="plant-div container-fluid m-2 w-auto row main-2">
      
    {{#each plants}}
    <div class="plant-card p-2 m-2 col-sm-3 col-6" style="width: 20rem;">
      <img src={{plantImg}} class="card-img-top mb-2" alt="Plant Photo">
      
      <h5 class="card-title px-3">{{name}}</h5>
      <p class="card-text">{{location}}</p>
      <p class="card-text">{{foundDate}}</p>
      <p class="card-text">{{season}}</p>
      <p class="card-text">{{description}}</p>
      <p class="card-text">{{author.username}}</p>
      <a href="/plants/{{_id}}" class="btn btn-light">Details & Comments</a>
    </div>
    {{/each}}

  </div>

</section>

