<h2>See all your posts here: </h2>
{{#each posts}}
<div>{{name}}</div>
<div>{{location}}</div>
<div>{{description}}</div>
<img src={{plantImg}} />
<div>{{foundOnDate}}</div>
<div>{{season}}</div>
{{/each}}